render-engine[cli]>=2024.11.2a1

# Themes
render-engine-json>=2024.1.1a1
render-engine-lunr
# render-engine-pagefind
render-engine-microblog
render-engine-sitemap
render-engine-fontawesome>=2024.1.1a1
render-engine-theme-kjaymiller>=2025.1.1a2

# Plugins
render-engine-youtube-embed==2023.10.2b3
render-engine-aggregators
axe-playwright-python==0.1.6


# tools
llm
