<div>
<h1 class="my-4 text-4xl">Guest Appearances</h1>
{% set group = GUEST_APPEARANCES %}
    {% for item in group %}
        <div class="border shadow my-4 p-3 flex items-center">
            <div class="w-1/4">
                <img class="w-1/2" src="{{item['image']}}" />
            </div>
            <div class="w-2/3 mx-3">
                <h2><a target="_blank" href="{{item['link']}}">{{item['podcast']}}: {{item['title']}}</a></h2>
                <h3>{{item['date']}}</h3>
            </div>
        </div>
    {% endfor %}
</div>
