{% set group = PODCASTS['active'] %}
<div class="md:flex flex-wrap my-4">
  {% for title, item in group.items() %}
  <div class="md:flex">
  <div class="w-2/5 md:w-1/6 m-3">
    <a href="{{item['url']}}">
      {% if 'image' in item %}
      <img
        alt="{{title}}"
        class="w-full rounded-lg shadow"
        src="{{item['image']}}"
      />
      {% endif %}
    </a>
  </div>
  <div>
    <h2 class="text-2xl font-bold"><a href="{{item['url']}}">{{title}}</a></h2>
    <p>{{item['summary']}}</p>
</div>
    </div>
  {% endfor %}
</div>

