{% extends 'base.html' %}
{% block title %}{{title}}{% endblock%}
{% block head %}<link rel="stylesheet" href="/static/css/article.css" />{% endblock %}
{% block content %}
<div class="my-4">
<h1 class="text-4xl font-extrabold">{{title}}</h1>
<div>
    <h1 class="text-2xl">Follow Me</h1>
    {% include "social-cards.html" %}
</div>
<div class="flex">
<article class="prose lg:prose-xl dark:prose-invert prose-slate">
    {{content}}
</article>
</div>
</div>
{% endblock %}
{% block add_ons %}
{% endblock %}
