<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <link rel="icon" href="https://fav.farm/📓" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/tailwind.css" />
    <script src="https://kit.fontawesome.com/94d9a219ee.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
    <title>
      {% if title != "Index" %}
      {{title}} - {% endif %}{{SITE_TITLE}}
    </title>
  </head>
  <body class="dark:bg-slate-800 dark:text-slate-100"> 
    <div class="flex flex-col h-screen">
      {% include 'header.html' %}
      <div class="flex-grow mx-2 md:mx-auto container">
        {% block content %} {% endblock %}
        {% block add_ons %} {% endblock %}
      </div>
      <div>
      {% include 'footer.html' %}
      </div>
    </div>
  </body>

</html>
