{% extends 'base.html' %}
{% block title %}{{title}} | {{SITE_TITLE}}{% endblock %}
{% block content %}
<h2 class="page-title">{{title}}</h2>
<div class="archive-list">
    {% for post in pages %}
    <article class="archive-item">
        {% if post.image %}
        <div class="archive-item-image">
            <a href="{{SITE_URL}}{{post.url_for()}}">
                <img src="{{post.image}}" alt="{{post.title}}">
            </a>
        </div>
        {% endif %}
        <div>
            {% if post.category %}
            <a href="{{COLLECTION_OUTPUT_PATH}}/category/{{post.category}}-0">{{post.category}}</a>
            {% endif %}
            <h2><a href="{{SITE_URL}}{{post.url_for()}}">{{post.title}}</a></h2>
            {% if post.date is defined %}
            <div class="archive-meta">{{post.date|format_datetime}}</div>
            {% endif %}
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}
