{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/pygments.css" />
  <meta property="og:title" content="{{title}}" />
  <meta property="og:type" content="article" />
  {% if description is defined %}<meta property="og:description" content="{{description}}" />{% endif %}
  <meta property="og:url" content="{{url|to_absolute}}" />
  {% set l_image="https://kjaymiller.azureedge.net/media/" + slug + ".jpg" %}
  <meta property="og:image" content="{{l_image|to_absolute}}" />

  <meta name="twitter:title" content="{{title}}" />
  {% if description is defined %}<meta name="twitter:description" content="{{description}}" />{% endif %}
  <meta name="twitter:image" content="{{l_image|to_absolute}}" />
  <meta name="twitter:card" content="summary_large_image" />
{% endblock %}
{% block content %} 
  <article class="prose lg:prose-xl dark:prose-invert prose-slate">
    {% if not no_feature_image %}
      <div class="feature-image overflow-hidden">
        <img src="{{image}}" class="max-h-72 rounded-lg shadow">
      </div>
    {% endif %}
    <div class="pt-1">
      <h1 class="title">{{title}}</h1>
      {% if subtitle %}: {{subtitle}}{%endif%}
      <small class="column is-narrow">
      {{date_friendly}}
      </small>
        </div>
        {% include 'github_disclaimer.html' %}

        {% if link %}
        <div class="notification is-small">
        </div>
        {% endif %}
        {% include 'YouTube_embed.html' %}

    <section class="section min-h-screen">
          <h4>{{date}}</h4>
          {% if link %}<h4><strong>Source:</strong> <a href="{{link}}">{{link}}</a>
          <a href="{{link}}">🔗</a>{% endif %}
          </h4>
          <div class="content">
            {{content}}
          </div>
        </section>
	  </section>
      </article>
    <section class="my-4 border-t-2 border-gray-400">
      <div class="content p-2">
      <a href="/blog/blog1.html" class="subtitle is-5 text-link hover:underline font-bold">Back to
        Blogs...</a>
    </section>
{% endblock %}
