{% from 'components/lunrjs/lunr_search.html' import search_form, search_script with context %}
{% extends "index.html" %}
{% block head %}
{{super()}}
{% include 'components/lunrjs/lunrjs_head.html'%}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block header %}
{{super()}}
<div id="search">
    {{search_form()}}
    <div id="lunrSearchResults" class="text-left"></div>
</div>
<div style="clear:both"></div>
    {% endblock %}

{% block footer %}
{{super()}}
{{search_script()}}
{% endblock %}
