<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/static/css/tailwind.css">
    <script src="https://kit.fontawesome.com/4ac674b58e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/pygments.css">
    {% block head %}{% endblock %}
    <title>
      {% if title != Index %}
      {{title}} - {% endif %}{{SITE_TITLE}}
    </title>
  </head>
  <body> 
    {% include 'header.html' %}
    <div class="container mx-auto my-2">
        {% block content %} {% endblock %}
        {% include 'footer.html' %}
    </div>
  </body>

</html>
