{% set latest_post = blog_posts[0] %}
<a href="./blog/{{latest_post.url}}">
  <div class="
  my-5
  flex
  bg-gradient-to-br
  from-purple-700 
  to-indigo-800
  items-center
  h-96
  rounded-lg p-4
  overflow-hidden
  shadow-lg
  ">

    <img src="{{ latest_post.image }}" alt="{{ latest_post.title }}"
      class="w-1/3 shadow-2xl self-baseline object-top rounded-lg mt-10">
    <h1 class="text-5xl text-slate-50 ml-3 mt-28 font-extralight">
      {{latest_post.title}}
    </h1>
  </div>
</a>

<div class="flex flex-wrap items-end justify-around">
  {% for featured_post in blog_posts[1:5] %}
  <a href="./blog/{{featured_post.url}}">
    <div class="my-5 flex flex-col overflow-hidden justify-end bg-gradient-to-br
    from-purple-700 
    to-indigo-800
    shadow
    max-w-xs h-96 border rounded-lg">
      <img src="{{ featured_post.image }}" alt="{{ featured_post.title }}" class="object-contain rounded-t-lg">
    <div class="bg-slate-50 h-1/4">
      <h1 class="font-bold p-3">
        {{featured_post.title}}
      </h1>
    </div>
      
    </div>
  </a>
  {% if featured_post.youtube %} {% set youtube = featured_post.youtube %} {%
  include 'Youtube_embed.html' %} {% endif %}
  {% endfor %}


  <div class="justify-items-end m-2">
    <h2 class="text-lg"><a class="underline" href="/blog-0">Check out Other Posts</a></h2>
  </div>
  </div>
