<h3 class="text-lg font-semibold">RSS Feeds</h3>
<p>
<a class="no-underline hover:underline" href="/blog.rss"><span class="icon"><i class="fas fa-rss"></i> Blog</a>
</p>
<p>
<a class="no-underline hover:underline" href="/microblog.rss"><span class="icon"><i class="fas fa-rss"></i> Microblog </a>
</p>
<p>
<a class="no-underline hover:underline" href="/allposts.rss"><span class="icon"><i class="fas fa-rss"></i> All Posts</a>
</p>
<p>
    <a class="no-underline hover:underline" href="/content-standards.html">🔗 Content Standards</a>
</p>
