<hr />
<footer class="bottom-0 container mx-auto shadow rounded-md bottom-0 bg-slate-50 dark:bg-slate-800 dark:text-slate-100 px-4 my-4 h-24">
  <div class="lg:flex md:mx-auto h-full justify-around items-center">
    <p> kjaymiller.com</p>
    <p>Website made with <a
                            class="hover:underline" href="https://github.com/kjaymiller/render_engine">Render Engine</a> and <a href="https://tailwindcss.com">TailwindCSS</a>
    
    hosted on Azure Static Web Apps                        <div>
      <a class="hover:underline" href="/blog.rss"><span class="icon"><i class="fas fa-rss"></i></a>
      {% include 'social-cards.html' %}
    </div>
  </div>
</footer>
