{% extends "page.html" %}

{% block content %}

<section class="container mx-auto">

<h1 class="text-2xl">Guest Appearances</h1>

{% for episode in data %}
<div class="m-4 p-2 rounded border rounded-xl hover:shadow shadow-{{theme.colors.main}}">
    <h2 class="py-1 text-xl">{{episode.podcast}}</h2>
    <img src="{{episode.image}}" alt="{{episode.podcast}} artwork"
    <p class="py-1"><strong><a href="{{episode.url}}">{{episode.title}}</a></strong> | {{episode.date}}</h2>
        
        {% if episode.description %}
        <p>{{episode.description}}</p>
        {% endif %}
        
    </div>
    {% endfor %}
</section>
{% endblock %}
