<div class="
  bg-gradient-to-br    
from-purple-600
to-indigo-800
  flex
  flex-wrap
  items-baseline
  px-5
  py-2
  ">
    <h1 class="title mx-3 text-2xl font-bold text-gray-200">
      <a class="no-underline" href="/">{{SITE_TITLE}}</a>
    </h1>
    <div class="hidden md:block p-2">
    {% for link in HEADER_LINKS %}
      <a class="
            p-3
            rounded-lg
            hover:bg-gray-100
            opacity-75
            hover:opacity-100
            hover:text-indigo-800
            hover:font-semibold
            text-gray-200
            no-underline
          " href="{{link.url}}">
        {{link.text}}
      </a>
      {% endfor %}
  </div>
  {% include 'social-cards.html' %}
</div>
