<div class="
  bg-gradient-to-br    
from-purple-600
to-indigo-800
  flex
  flex-wrap
  items-center
  p-5
  ">
    <h1 class="title mx-3 text-2xl font-bold text-gray-200">
      <a class="hover:no-decorate" href="/">{{SITE_TITLE}}</a>
    </h1>
    {% for link in HEADER_LINKS %}
      <a class="
            p-3
            rounded-lg
            hover:bg-gray-100
            hover:text-indigo-800
            hover:font-semibold
            text-gray-200
          " href="{{link.url}}">
        {{link.text}}
      </a>

      {% endfor %}
</div>
