{% extends 'base.html'%} {% block head %}
<!-- <link rel="stylesheet" type="text/css" href="/static/css/index.css" /> -->
{% endblock %}
{% block content %}
<article class="prose lg:prose-xl dark:prose-invert prose-slate">
  <section class="my-2">
    <h2 class="text-2xl font-bold"><a href="{{latest_episodes["microblog"]["archive"].url_for()}}">Microblog</a></h2>
    {{latest_episodes["microblog"]["latest"].content}}
  </section>
  <section class="my-6">

  <h2 class="text-2xl underline">Latest Posts</h2>
    {% for section in latest_episodes %}
    {% if section != "microblog" %}
      {% set section_title = latest_episodes[section]["title"] %}
      {% set latest = latest_episodes[section]["latest"] %}
      {% set archive = latest_episodes[section]["archive"] %}
        <h4 class="text-lg my-2"><a class="font-bold" href="{{archive.url_for()}}">{{section_title | title}}:</a><a class="pl-2" href="{{latest.url_for()}}">{{latest.title}}</a></h4>
      {% endif %}
    {% endfor %}
  </section>
</article>
{% endblock %}
