<section class="z-10 flex flex-wrap justify-around items-center p-4 h-full">
  <div class="w-full md:w-1/2 leading-8 tracking-wide">
    <h2 class="text-5xl mb-4 font-thin">Hey I'm Jay 👋🏾!</h2>
    <p class="text-2xl">
      I'm an Advocate for Python and Black Python Developers around the globe.
    </p>
  </div>
  <div class="p-4 h-96">
    <img
      alt="Jay in front of steps from DjangoCon US 2023"
      src="https://kjaymiller.azureedge.net/media/jay-in-stairwell.jpg"
      class="h-full rounded"
    />
    <small
      >Photo by Bartek Pawlik -
      <a class="underline" href="bartpawlik.format.com"
        >bartpawlik.format.com</a
      ></small
    >
  </div>
</section>
