{% extends "page.html" %}

{% block content %}
<div class="links-page">
    <div class="links-profile">
        <img class="links-avatar" src="https://jmblogstorrage.blob.core.windows.net/media/jay-in-stairwell.jpg" alt="{{ SITE_TITLE }}">
        <h1 class="links-name">{{ SITE_TITLE }}</h1>
        <p class="links-subtitle">{{ SITE_SUBTITLE }}</p>

        <div class="links-list">
            {% for title in links %}
            <h2>{{title}}</h2>
            {% for link in links[title] %}
            <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                {% if link.icon %}
                <span class="link-icon"><i class="{{ link.icon }}"></i></span>
                {% endif %}
                {{ link.text }}
            </a>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
