{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/microblog_archive.css">
{% endblock %}
<section class="section">
  <div class="container">
    <h2 class="title is-1 has-text-info">{{title}}</h2>
        {% for post in pages %}
			<div class="tile is-parent">
	<article class="tile is-child box">

		<div class="columns">
		<div class="column">
			<div class="container">
			<div class="microblog-content content">{{post.content}}</div>
		</div>
    <div class="hero has-text-left">
			<strong>Date:</strong> {{post.date_friendly}}
		</div>
    <div class="container">
      <script type="text/javascript" src="https://micro.blog/conversation.js?url={{SITE_LINK}}/{{post.slug}}"></script> 
    </div>
	</article>
		</div>
        {% endfor %}
    </div>
</div>
</div>
</section>
{% endblock %}
