<div id="microblog-posts" class="">
  <h1 class="text-lg font-bold">Microblog Posts</h1>
      <div class="">
        {% for post in microblog_posts %}
            <div class="m-3">
              {{post.content}}
            <p class="text-sm">
            {{post.date_friendly}}
            </p>
        </div>
        <hr/>
        {% endfor %}
      </div>
      <div>
        <p class="content has-text-right">
        <a href="/microblog/microblog-0">View Older Posts</a>
        </p>
    </div>
</div>
