<div class="container bg-gradient-to-rb from-purple-600 to-indigo-700 p-5 mx-2 md:flex">
    <div class="px-5">
      <h3 class="text-4xl">Hi! I'm Jay 👋</h3>
      <p>I am a:</p>
      <ul class="list-none">
          <li>Developer/Community Advocate</li>
          <li>Podcaster</li>
          <li>Pythonisa</li>
          <li>Full Stack Developer</li>
      </ul>

      <ul class="list-none">
          <li class="px-1">
              <a class="hover:bg-gray-200 underline hover:italicize" href="/about">More about my
              journey</a>
          </li>
          <li class="px-1">
              <a class="underline hover:bg-gray-200 hover:italicize" href="https://productivityintech.com">More about Productivity in Tech</a>
          </li>
          <li class="px-1">
              <a class="underline hover:bg-gray-200 hover:italicize" href="/contact">Get in Touch</a>
          </li>
          <li class="px-1">
            <iframe src="https://github.com/sponsors/kjaymiller/button" title="Sponsor kjaymiller" height="35" width="107" style="border: 0;"></iframe>
          </li>
      </div>

</div>
