<a class="p-1" href="https://www.youtube.com/channel/UCjoJU65IbXkKXsNqydro05Q/">
    <i class="text-red-700 text-2xl m-1 fa-brands fa-youtube"></i>
</a>
<a class="rounded-xl opacity-50 p-1 hover:opacity-100" href="https://twitter.com/kjaymiller">
    <i class=" text-blue-500 m-1 text-2xl fa-brands fa-twitter-square"></i>
</a>
<a class="rounded-xl opacity-50  p-1 hover:opacity-100" href="https://linkedin.com/in/kjaymiller">
    <i class=" text-blue-900 m-1 text-2xl fa-brands fa-linkedin"></i>
</a>