name: Accessibility Review
on: [workflow_call, workflow_dispatch]
jobs:
  accessibility:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          playwright install chromium --with-deps
      - name: get date
        id: date
        run: |
          echo "DATE=$(date +'%Y-%m-%d')" >> "$GITHUB_OUTPUT"
      - name: Run accessibility tests
        run: |
          python a11y.py --output "accessibility-report-${{steps.date.outputs.DATE}}-${{github.run_id}}.txt"
          cat "accessibility-report-${{steps.date.outputs.DATE}}-${{github.run_id}}.txt" >> $GITHUB_STEP_SUMMARY

      - uses: actions/upload-artifact@v5
        with:
          name: accessibility-report-${{steps.date.outputs.DATE}}-${{github.run_id}}.txt
          path: accessibility-report-${{steps.date.outputs.DATE}}-${{github.run_id}}.txt
